<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="utf-8">
  <title>Mandelbrot GUI</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div mandelbrot-gui>

    <h1>Mandelbrot GUI</h1>

   
    <div id="control-panel">
      <ul>
        <li>
          <label>Width:</label>
          <input type="text" ng-model="ctrl.width" ng-change="ctrl.updateSet()">
        </li>
        <li>
          <label>Height:</label>
          <input type="text" ng-model="ctrl.height" ng-change="ctrl.updateSet()">
        </li>
        <li>
          <label>X-Center:</label>
          <input type="text" ng-model="ctrl.xCenter" ng-change="ctrl.updateSet()">
        </li>
        <li>
          <label>Y-Center:</label>
          <input type="text" ng-model="ctrl.yCenter" ng-change="ctrl.updateSet()">
        </li>
        <li>
          <label>Pixel-Size:</label>
          <input type="text" ng-model="ctrl.pixelSize" ng-change="ctrl.updateSet()">
        </li>
      </ul>
    </div>
  
    <div id="image-panel">
      <canvas id="mandelbrot-image" width="640" height="480"></canvas>
    </div>
  
  </div>

  <script src="packages/shadow_dom/shadow_dom.min.js"></script>
  <script type="application/dart" src="main.dart"></script>
  <script type="text/javascript" src="packages/browser/dart.js"></script>
</body>
</html>
