
body {
  background-color: #646464;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: black;
}

#control-panel {
  float: left;
  width: 30%;
  background-color: #f8f8f8;
  border-radius: 10px;
}
#control-panel ul {
  list-style: none;
  padding: 0;
  margin: 15px;
  float: left;
}
#control-panel ul li {
  float: left;
}
#control-panel ul li label {
  float: left;
  width: 5em;
  text-align: right;
}
#control-panel ul li input {
  /* text-align: right; */
}

#image-panel {
  float: right;
  background-color: #f8f8f8;
  border-radius: 10px;
}

#sample_container_id {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#sample_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
  -webkit-user-select: none;
  user-select: none;
}
